body {
    background-color: black;
    color: aliceblue;
    padding-top: 1px;
}

.Zombie_title {
    text-align: center;
    font-size: 36px;
    color: rgb(0, 255, 128);
}

.Zombie_P {
    width: 800px;
    margin-top: 50px;
    margin-left: -20px;
}

.Zombie_info {
    width: 800px;
    margin-top: 50px;
}

.info_wrap {
    display: flex;
    float: left;
    gap: 50px;
    margin-left: 50px;
}

a {
    text-align: right;
    color: rgb(152, 193, 230);
    text-decoration: none;
}