/*CSS file for zombie/skeleton/Creeper/Enderman/Drowned/Spider.html*/
* {
    margin: 0;
    padding: 0;
    background-color: #222;
}
body {
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
    padding-top: 1px;
}

.Zombie_title {
    text-align: center;
    font-size: 36px;
    color: rgb(4, 126, 65);
}

.Skeleton_title {
    text-align: center;
    font-size: 36px;
    color: azure;
}

.Creeper_title {
    text-align: center;
    font-size: 36px;
    color: rgb(56, 234, 94);
}

.Enderman_title {
    text-align: center;
    font-size: 36px;
    color: blueviolet;
}

.Drowned_title {
    text-align: center;
    font-size: 36px;
    color: darkslategrey;
}

.Spider_title {
    text-align: center;
    font-size: 36px;
    color: brown;
}

.Spider {
    margin-top: 10%;
}

.mob-description {
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
    margin-left: -20px;
    font-size: 15px;
}

.mob-information {
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
    font-size: 20px;
}

.info_wrap {
    display: flex;
    float: left;
    gap: 50px;
    margin-left: 50px;
}

.Suggestion {
    font-size: 20px;
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
}

.link {
    clear: both;
    text-align: right;
    margin-right: 50px;
    margin-top: 50px;
}
a {
    width: 200px;
    text-align: right;
    color: rgb(152, 193, 230);
    text-decoration: none;
}

img {
    max-width: 400px;
    max-height: 520px;
    object-fit: contain;
    background-color: #222;
}